// Override Leap Day theme color variables
$header-bg-color: #006341;
$main-bg-color: #006341;
$link-color: #006341;
$hover-link-color: #009739;

// Import the Leap Day theme styles
@import "leap-day";
